@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Variáveis de cores*/
:root{
    --primary: #f2f2f2;
    --secondary: #a6a6a6; 
    --tertiary: #595959;
    --quaternary: #262626; /* dark mode*/
    --quinary: #0d0d0d;    /* dark mode */
    --light: #ffffff;
    --dark: #000000;

}

/* Configurações Gerais*/
* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--primary);
}

a {
    text-decoration: none;
    color: var(--light);
}

/* Botões */
.link-user,
#social-media i {
    color: var(--secondary);
}

.link-user:hover {
    color: var(--light);
}

#social-media i:hover {
    color: var(--primary);
}

.logo-header {
    max-width: 250px;
}

.news-button,
.more-button {
    background-color: var(--secondary);
    color: var(--primary);
}

.news-button:hover,
.more-button:hover {
    background-color: var(--tertiary);
    color: var(--primary);
}

/* Menu */
.menu-nav {
    background-color: var(--light);
}