/* Seção principal */
#news-featured {
    max-width: 1000px;
    background-color: transparent;
    border: none;
}

/* Seção Sobre e Siga-nos */
#main-news,
#final-section {
    background-color: var(--light);
}

#about,
#social-media,
.card-artist {
    background-color: transparent;
    border: none;
}

#social-media i {
    margin-bottom: 0.8rem;
}

/* Seção Principais Notícias*/

.noticia-principal {
    border: none;    
}

/* Aside */
.card-img-overlay {
    opacity: 0;
    transition: .3s ease;
    background-color: var(--secondary);
    text-align: center;
}

.card-img-overlay:hover {
    opacity: 0.8;
}

/* Playlists */
.playlist {
    width: 350px;
    height: 350px;
}