/* Seção principal */
#news-featured {
    max-width: 1000px;
    background-color: var(--light);
    border: none;
}

/* Seção Sobre e Siga-nos */
#final-section {
    background-color: var(--light);
}

#about,
#social-media {
    background-color: transparent;
    border: none;
}

#social-media i {
    margin-bottom: 0.8rem;
}

/* Aside */
.more-button {
    max-width: 160px;
    float: right;
}





